body {
    background-color: rgba(7, 7, 7, 0.959);
    margin: 0%;
    color: #fff(246, 252, 251, 0.979);
    text-align: center;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: rgb(2, 1, 15);
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    z-index: 5;

}

@media (max-width:963px) {
                header{
                    font-size: 10px;
                    padding: 10px 20px;
                    
                }
}

@media (max-width:612px) {
                header{
                    font-size: 10px;
                    padding: 10px 10px;
                    width: 100%;
    
                    
                    
                }
}


.logo {
    font-size: 2em;
    color: #df4f0d;
    user-select: none;
    position: fixed;
    left: 2%;
}

.navigation a {
    position: relative;
    top: 10px;
    font-size: 1.5em;
    color: wheat;
    text-decoration: none;
    font-weight: 700;
    margin-top: -200px;
    margin-left: 40px;
}

.navigation a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: orangered;
    border-radius: 5px;
    transform-origin: right;
    transform: scale(0);
    transition: transform.5s;
}

.navigation a:hover::after {
    transform: scaleX(1);
    background-color: orangered;
}

section {
    background-color: black;
    margin-top: 100px;
    border-color: orangered;
    border-style: solid;
    border-radius: 15px;
    width: 70%;
    margin-left: 15%;
    height: 300px;
    text-align: center;
    padding: 50px ;
    margin-bottom: 200px;


}



.Accueil {
    position: relative;
    justify-content: space-around;
    height: 100vh;
    margin-top: 150px;
    background-position: center;
    display: flex;
    align-items: center;
    padding-left: 10%;
    color: rgb(233, 39, 13);
    font-size: 35px;
    text-align: left;
}

.Accueil-contenu p {
    font-size: 20px;
    margin-top: 10px;
}

.photo img {
    width: 250px;
    height: 270px;
    margin-right: 20px;
    border-style: solid;
    border-color: orangered;
    border-radius: 50%;

}

@media (max-width:1076px) {
    .Accueil{
       display: inline-block;
     
    }
    
}

@media (max-width:499px) {
    .Accueil{
       display: inline-block;
       right: 20px;
       font-size: 20px;         

    }
    .photo img {
        width: 195px;
        height:195px;
       
    }
    
}

.Apropos {
    color: orangered;
    font-size: 30px;
    text-align: center;

}

p {
    color: white;
    font-size: 20px;
    text-align: left;
}

@media (max-width:880px) {
    .Apropos{
          height: 500px;
     
    }
    
}

@media (max-width:577px) {
    .Apropos{
          height: 600px;
     
    }
    
}

@media (max-width:476px) {
    .Apropos{
          height: 900px;
     
    }
    
}

@media (max-width:360px) {
    .Apropos{
          height: 1000px;
     
    }
    
}

.Mescompetencestechniques {
    color: orangered;
    font-size: 30px;
    text-align: center;
}

p {
    color: white;
    font-size: 20px;
    text-align: left;
}

.Projets {
    color: orangered;
    font-size: 35px;
    text-align: center;
}

.Contacte {
    color: orangered;
    font-size: 20px;
    text-align: center;
}


.contacte.ensemble{
display: inline-block;
position: absolute;

}

.Contacte h6{
     font-size: 20px;
}


.Contacte-liste i {
    display: inline-block;
    color: orange;
    font-weight: 600;
    font-size: 20px;
    transition: all.40 ease;
}

.Contacte-liste li:hover {
    transform: scale(1.01), translateY(-5px);
    color: orange;
}

@media (max-width:560px) {
            .Contacte {
                 height: 400px;  
                 font-size: 15px;
                 margin-right: 30px;  

          }
                    
                
}

@media (max-width:420px) {
            .Contacte {
                 height: 500px;  

        }
           .Contacte-liste i {
                 
}     
                    
                
}

.Contacte-icons{
    font-size: 40px;
    background-color: var(--main-color);
}


@media (max-width:1073px) {
    section{
      margin-bottom: 200px;

    }
    
}

